.form-control{
  box-shadow: none;
  &:focus{
    box-shadow: none;
    & ~ .form-control-focus{
      margin-left: 0;
      width: 100%;
    }
  }
}

.form-control-focus{
  margin: -2px 0 0 50%;
  padding: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  border-top:2px solid #cc70a3;
  transition: all .2s ease-out;
}
