.tooltips{
  position: relative;
  cursor: pointer;

  &:before,&:after{
    position: absolute;
    display: block;

  }
  &:before{
    color: #fff;
    background-color: #2b222a;
    content: attr(data-tooltips);
    padding: 1em;
    top: calc(-100% - 2em);
  }

  &:after{
    top: -100%;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2B222A;
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    margin-left: -5px;
  }

  &:hover:before,&:hover:after{
    opacity: 1;
    transition: all 0.75s ease;
  }
}